*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey:rgb(128, 128, 128, 0.3);
}

.second-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section2-leftdiv{
    /* border: 2px solid var(--grey); */
    height: 300px;
    width: 20%;
     background: var(--grey);
     padding: 10px;
     margin: 80px 20px 0 0;
}

.section2-rightdiv{
    /* border: 2px solid white; */
    margin-top: 40px;
    width: 22%;
    height: 400px;
    background: url(./image/image2.jpg);
    background-size: cover;
    background-position: bottom left;
}